@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b4d2e7;
    height: 100vh;
    width: 100vw;
}

.header {
    height: 17.5vh;
    font-family: "Chelsea Market", cursive;
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    height: calc(100vh - 17.5vh);
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
}

.board {
    height: 40rem;
    width: 40rem;
    border: 5px solid rgb(27, 27, 27);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.square {
    border: 2px solid rgb(27, 27, 27);
}

.ship {
    background-color: #3e92cc;
}

.missed {
    background-image: url("./assets/dot.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.hit {
    background-image: url("./assets/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33px;
    background-color: #fd3535;
}

.disabled {
    pointer-events: none;
}

.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over {
    background-color: gainsboro;
    height: 50vh;
    width: 40vw;
    border-radius: 10px;
    border: 6px solid rgb(27, 27, 27);
}
